@import "mixins";
  
:root {
  --systemFont: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  --interFont: "Inter", "SF Pro Display", ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;

  --color-white: hsla(0, 0%, 100%, 1);
  --color-white50: hsla(0, 0%, 100%, 0.05);
  --color-white100: hsla(0, 0%, 100%, 0.1);
  --color-white200: hsla(0, 0%, 100%, 0.2);
  --color-white300: hsla(0, 0%, 100%, 0.3);
  --color-white400: hsla(0, 0%, 100%, 0.4);
  --color-white500: hsla(0, 0%, 100%, 0.5);
  --color-white700: hsla(0, 0%, 100%, 0.7);
  
  // --color-dark-400: hsla(0,0%,7%,1);
  --color-dark-400: hsla(0,0%,13%,1);

  --color-black: hsla(0, 0%, 0%, 1);
  --color-black-50: rgba(0, 0, 0, 0.5);
  --color-black-10: rgba(0, 0, 0, 0.1);

  --color-black100: hsla(0, 0%, 13%, 0.1);
  --color-black200: hsla(0, 0%, 13%, 0.2);
  --color-black300: hsla(0, 0%, 13%, 0.3);
  --color-black400: hsla(0, 0%, 13%, 0.4);
  --color-black500: hsla(0, 0%, 13%, 0.5);
  --color-black700: hsla(0, 0%, 13%, 0.7);

  --color-violet: #f05efa;

  // tokens

  --bg-primary: var(--color-dark-400);
  --bg-secondary: var(--color-white200);
  --bg-tertiary: var(--color-white100);
  --bg-outline: var(--color-black);
  --bg-invert: var(--color-white);
  --bg-accent: var(--color-violet);

  --text-primary: var(--color-white);
  --text-secondary: var(--color-white700);
  --text-accent: var(--color-violet);

  --top-height: 90px;

  // gradients

  --color-gradient-dark: linear-gradient(to bottom,
    hsla(0, 0%, 13%, 0) 0%,
    hsla(0, 0%, 13%, 0.013) 9.7%,
    hsla(0, 0%, 13%, 0.049) 18.1%,
    hsla(0, 0%, 13%, 0.104) 25.5%,
    hsla(0, 0%, 13%, 0.175) 31.9%,
    hsla(0, 0%, 13%, 0.259) 37.7%,
    hsla(0, 0%, 13%, 0.352) 43%,
    hsla(0, 0%, 13%, 0.45) 47.9%,
    hsla(0, 0%, 13%, 0.55) 52.8%,
    hsla(0, 0%, 13%, 0.648) 57.7%,
    hsla(0, 0%, 13%, 0.741) 63%,
    hsla(0, 0%, 13%, 0.825) 68.7%,
    hsla(0, 0%, 13%, 0.896) 75%,
    hsla(0, 0%, 13%, 0.951) 82.2%,
    hsla(0, 0%, 13%, 0.987) 90.5%,
    hsl(0, 0%, 13%) 100%
  );
  

  --14px: 0.875rem;
  --15px: 0.9375rem;
  --16px: 1rem;
  --17px: 1.0625rem;
  --18px: 1.125rem;
  --19px: 1.1875rem;
  --20px: 1.25rem;
  --21px: 1.3125rem;
  --24px: 1.5rem;
  --42px: 2.652rem;
  --64px: 4rem;

  --font-mini: calc(var(--14px) - 2px);
  --font-sm: var(--14px);
  --font-sd: var(--15px);
  --font-lg: var(--16px);
  --font-xl: var(--18px);
  --font-xxl: var(--21px);
  --font-headline: clamp(var(--64px), var(--24px) + 4.898vw, calc(var(--64px) * 2));
  // --font-body: clamp(1rem, 0.8852rem + 0.4898vw, 1.375rem);
  --font-body: var(--16px);

  --zindex-modal: 999999;
  --zindex-nav: 1000;
  --zindex-top: 890;
  --zindex-sticky: 900;
  --zindex-content: 500;
  --zindex-1: 1;
  --zindex-2: 2;

  --radius-base: 12px;
  --radius-sm: 8px;

  --width: 800px;
  // --colwidth: 40vw;
  --colwidth: 250px;

  --spacing-xxl: max( 130px, calc(130px + (260 - 130) * ((100vw - 375px) / (1600 - 375))) );
  --spacing-xl: max( var(--64px), calc(var(--64px) + (128 - 64) * ((100vw - 375px) / (1600 - 375))) );
  --spacing-l: max( var(--42px), calc(var(--42px) + (84 - 42) * ((100vw - 375px) / (1600 - 375))) );
  --spacing-m: max( var(--24px), calc(var(--24px) + (48 - 24) * ((100vw - 375px) / (1600 - 375))) );
  --spacing-s: max( var(--21px), calc(var(--21px) + (42 - 21) * ((100vw - 375px) / (1600 - 375))) );
  --spacing-xs: max( var(--14px), calc(var(--14px) + (28 - 14) * ((100vw - 375px) / (1600 - 375))) );
  --spacing-xxs: max( calc(var(--14px) / 2), calc((var(--14px) / 2) + (14 - 7) * ((100vw - 375px) / (1600 - 375))) );

  
}

body, html {
  font-family: var(--systemFont);
  font-size: var(--font-sd);
  color: var(--text-primary);
  background: var(--bg-primary);
  margin: 0;
  padding: 0;
  // overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "liga" on;
  font-feature-settings: "liga" on;
  -moz-font-feature-settings: "liga" on;
}

body {
  overscroll-behavior: none;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--systemFont);
  font-weight: normal;
}

h1 {
  font-weight: 800;
  font-size: var(--font-headline);
  line-height: 1.1;
  letter-spacing: -4px;
}

p {
  font-size: var(--font-body);
}

.util-center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a, button, input {
  &:focus-visible {
    outline: none !important;
    box-shadow: 0 0 0 2px var(--bg-invert) !important;
  }
  &:active {
    box-shadow: none !important;
  }
}

.fixed {
  overflow: hidden;
  // height: 100vh;
  // width: 100vw;
}

// @include dm {
//   :root {
//     --bg-primary: var(--color-white);
//     --bg-secondary: var(--color-black200);
//     --bg-tertiary: var(--color-black100);
//     --bg-outline: var(--color-black100); 
//     --bg-invert: var(--color-dark-400);
//     --bg-accent: var(--color-violet);
  
//     --text-primary: var(--color-dark-400);
//     --text-secondary: var(--color-black700);
//     --text-accent: var(--color-violet);

//     --color-gradient-dark: linear-gradient(to bottom,
//       hsla(0, 0%, 100%, 0) 0%,
//       hsla(0, 0%, 100%, 0.013) 9.7%,
//       hsla(0, 0%, 100%, 0.049) 18.1%,
//       hsla(0, 0%, 100%, 0.104) 25.5%,
//       hsla(0, 0%, 100%, 0.175) 31.9%,
//       hsla(0, 0%, 100%, 0.259) 37.7%,
//       hsla(0, 0%, 100%, 0.352) 43%,
//       hsla(0, 0%, 100%, 0.45) 47.9%,
//       hsla(0, 0%, 100%, 0.55) 52.8%,
//       hsla(0, 0%, 100%, 0.648) 57.7%,
//       hsla(0, 0%, 100%, 0.741) 63%,
//       hsla(0, 0%, 100%, 0.825) 68.7%,
//       hsla(0, 0%, 100%, 0.896) 75%,
//       hsla(0, 0%, 100%, 0.951) 82.2%,
//       hsla(0, 0%, 100%, 0.987) 90.5%,
//       hsl(0, 0%, 100%) 100%
//     );
//   }
// }